  .Event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 2px solid #dee2e6;
  }

  .Event:last-child {
    border-bottom: none;
  }
  
  .eventDate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    width: 6%;
  }

  .eventDate:first-child {
    margin: 1rem 0;
  }
  
  .startTime {
    display: flex;
    align-items: center;
    padding-right: 1%;
  }
  
  .startTime p {
    margin-right: 10px;
  }
  
  .eventDetails {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .eventDetails p {
    margin-bottom: 5px;
  }

  #dayNum {
    font-weight: 900;
    font-size: x-large;
  }

  #weekday, #location, #time, #chevron {
    color: #686868;
  }

  #chevron {
    padding-left: .25rem;
  }

  #time {
    font-size: large;
  }

  #opponent {
    font-weight: 900;
    font-size: large;
  }