  .Event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #dee2e6;
  }

  .Event:last-child {
    border-bottom: none;
  }
  
  .eventDate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .startTime {
    display: flex;
    align-items: center;
  }
  
  .startTime p {
    margin-right: 10px;
  }
  
  .eventDetails {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .eventDetails p {
    margin-bottom: 5px;
  }